#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

#headshot {
  height: 200px;
  max-width: 200px;
}

#main-section {
	display: block
}
#contact-section {
  display: none
}
#about-section {
	display: none
}
