@import url(//fonts.googleapis.com/css?family=Montserrat+Alternates);
@import url(//fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap);
body {
  margin: 0;
  display: grid;
  color: rgb(23, 28, 40);
  height: 100%;
}
#content {
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
#home {
  display: flex;
  height: 100vh;
  width: 100vw;
}
#my-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
  margin-top: 0;
  font-size: 100px;
  text-align: center;
}
#headshot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  min-height: 200px;
}
#main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
}
#contact-section {
  display: block;
  width: 100%;
}
#about-section {
  height: 100vh;
  width: 100vw;
  display: block;
}
.entire-section {
  background-color:white;
}
#menu {
  text-align: center;
  right: 0;
  font-size: small;
  padding: 5vh;
  position: fixed;
  top: 0;
  overflow: hidden;
}
#menu li {
  padding: 5px;
}
th {
  color: rgb(23, 28, 40);
  padding: 15px;
}
th:hover { 
  color: white;
  cursor: grab;
}
* {
  text-align: center;
  vertical-align: center;
  font-family: 'Montserrat Alternates';
}
*::selection {
  background-color: #a26769;
  color:  white;
}
h1 {
  font-family: 'Montserrat Alternates';
  font-size: 80px;
}
#contact-section img {
  max-width: 30px;
  max-height: 30px;
  align-items: center;
}
.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  align-self: center;
}
.circle img {
  align-content: center;
  align-items: center; 
}
#social {
  align-content: center;
  align-items: center;
  background-color: #a26769;
}
#social img {
  height: 30px;
  width: 30px;
  align-items: center;
  top: 50%;
  padding-top:8px;
}
#socials {
  text-align: center;
  margin-left: auto; 
  margin-right: auto;  
}
.song-buttons {
  background-color:rgb(23, 28, 40);
  color: white;
}
ul {
  list-style-type: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color:rgb(23, 28, 40);
}
#comment-section {
  font-size: small;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: rgb(23, 28, 40);
  width: 50vw;
  height: 100vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-height: 100%;
  overflow: auto;
  border: 1px solid grey;
}
.comment-item {
  border: 5px solid rgb(226, 107, 117);
}
.comment-item {
  display: flex;
  border: 1px solid grey;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  min-height: 50px;
  justify-content: left;
  align-items: flex-start;
}
.comment-user-name {
  display: flex;
  align-self: flex-start left;
  font-weight: bold;
}
.comment-user-email {
  display: flex;
  align-self: flex-start;
  font-size: x-small;
  color: grey;
}
.comment-content {
  display: flex;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
#mode {
  width: 50px;
  height: 50px;
}
#mode:hover {
  cursor: grab;
}
.dark-mode {
  background-color: rgb(23, 28, 40);
  color: white;
}
body.dark-mode a {
  color: white;
}
body a {
  color: rgb(23, 28, 40);
}
.fade-in {
animation: fadeIn ease 2s;
-webkit-animation: fadeIn ease 3s;
-moz-animation: fadeIn ease 3s;
-o-animation: fadeIn ease 3s;
-ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
#linkedin-icon {
  width: 35px;
  padding-top: 3px;
}
#map {
  margin: auto;
  border: thin solid black;
  height: 500px;
  width: 500px;
}
#fixed {
  position: fixed;
  bottom: 0;
  right: 5vh;
}
#fixed:hover {
  font-size: large;
}
