#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#headshot {
  height: 200px;
  max-width: 200px;
}

#main-section {
	display: block;
}
#contact-section {
  display: none;
}
#about-section {
	display: none;
}
.upper-section {
	background-color: rgb(34, 34, 59);
}
body {
	color: rgb(242, 233, 228);
}
table {
	color: rgb(201, 173, 167);
}
th {
	color: rgb(201, 173, 167);
}
th:hover { 
	color: white;
	cursor: grab;
	text-decoration-color: #E18728;
}
